{%extends 'base_html.html'%}
{% load static %}
{% block title %}Password reset{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home/form.css' %}">
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}

{%block content%}
    
{%if form %}
    <form method="post" class="form">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
{%else%}
<div class="home-card">
    <p>Expired password reset link</p>
    <a href="{%url 'home:password_reset'%}"><button>Password reset</button></a>
</div>
{%endif%}

{%endblock%}
```